set

In [1]:
x = set()

In [2]:
x

set()

In [3]:
x = {1}

In [4]:
x

{1}

In [5]:
x = {12,23,312,321,312}
print(x)

{312, 321, 12, 23}

In [6]:
a = [1,2,3,55,6677,889,999,5]
set(a)

{1, 2, 3, 5, 55, 889, 999, 6677}

In [7]:
a = "Albert Eienstien"
print(set(a))

{'t', 'n', 'E', 'l', 'i', 'b', 's', 'r', 'e', 'A', ' '}

In [8]:
x = {1,2,3,"Abc","bbc",(1,2,3,4),(2,3)}
print(set(x))

{(1, 2, 3, 4), 1, 2, 3, (2, 3), 'bbc', 'Abc'}

In [9]:
for i in x:
    print(i)

(1, 2, 3, 4)
1
2
3
(2, 3)
bbc
Abc

In [11]:
# operations in sets
a = {1,2,3,4}
b = {2,4,1,6}
c = {8,5,2,7}
a | b |c

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
avengers = {'Ironman', 'Captain America','Black Widow','Hawkeye','Thor','Hulk'}
caws = {'Captain America','Winter Soldier','Black Widow','Falcon'}
cacw = {'Captain America','Winter Soldier','Black Widow','Falcon','Black panther','Vision','Scarlet Witch','Ironman',}

print(avengers | caws)

{'Hulk', 'Falcon', 'Black Widow', 'Thor', 'Winter Soldier', 'Captain America', 'Hawkeye', 'Ironman'}

In [15]:
print(avengers & caws)
print(avengers & cacw)

{'Black Widow', 'Captain America'}
{'Black Widow', 'Ironman', 'Captain America'}

In [16]:
print(cacw - caws)

{'Scarlet Witch', 'Vision', 'Ironman', 'Black panther'}

In [17]:
a ^ b

{3, 6}

In [19]:
a = set()
a.add(174)
a.add(157)
a.add(142)
a.add(13)
a.add(12)

In [20]:
a

{12, 13, 142, 157, 174}

In [22]:
a.update([1,62,43])
print(a)

{1, 43, 12, 13, 142, 174, 157, 62}

In [23]:
a.update((11,43,76))
print(a)

{1, 43, 12, 13, 142, 174, 11, 76, 157, 62}

In [26]:
a.update({51,15,23})
print(a)

{43, 12, 13, 142, 174, 11, 76, 15, 51, 23, 157, 62}

In [27]:
a.pop()

43

In [28]:
import random
x = []
for i in range(1,100):
    x.append(random.randint(1,10))
print(x)

[7, 9, 8, 7, 8, 8, 9, 5, 4, 5, 6, 9, 3, 5, 2, 5, 4, 4, 2, 6, 6, 2, 3, 1, 4, 3, 6, 4, 3, 4, 5, 6, 4, 2, 1, 10, 6, 1, 1, 6, 6, 1, 4, 9, 9, 10, 10, 7, 8, 2, 7, 1, 5, 5, 8, 6, 3, 7, 9, 7, 6, 4, 7, 10, 9, 1, 10, 7, 7, 5, 4, 10, 9, 8, 10, 8, 1, 3, 3, 1, 9, 10, 5, 6, 6, 6, 10, 7, 8, 3, 7, 8, 7, 5, 10, 5, 10, 10, 2]

In [29]:
x = list(set(x))

In [30]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
x = set()
x

set()

In [32]:
x = set(range(1,11))
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
x = {1,2,3,4,5,6,7,8,9,10,11}
y = {i * 10 for i in x}
y

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [46]:
x2 = set(map(lambda i : i ** 2, x))
x2

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}