# tuple

- create
-indexing and slicing
-loop
-operation
-functions
-map and filter

In [2]:
x = (2,) #single element tuple
type(x)

tuple

In [3]:
a = 'Apple'
at = tuple(a)
at

('A', 'p', 'p', 'l', 'e')

In [5]:
b = [1,2,3,4,5]
bt = tuple(b)
bt

(1, 2, 3, 4, 5)

In [7]:
# nested tuple
geo = ((1,2),(3,4),(5,6))
marks = [(41,22,33),(12,34,52)]
marks

[(41, 22, 33), (12, 34, 52)]

In [8]:
at

('A', 'p', 'p', 'l', 'e')

In [9]:
at[-1]

'e'

In [10]:
at[:3]

('A', 'p', 'p')

In [11]:
at[-2:]

('l', 'e')

In [12]:
at[1:4]

('p', 'p', 'l')

In [13]:
i = 0
while i < len(bt):
    print(bt[i])
    i +=1

1
2
3
4
5

In [14]:
bt

(1, 2, 3, 4, 5)

In [15]:
bt + at

(1, 2, 3, 4, 5, 'A', 'p', 'p', 'l', 'e')

In [16]:
(1,2) * 10

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [22]:
#functions
a = (1,2341,14141,242424,12313144,414,6666,667889)
a.count(414)

1

In [20]:
a.index(414)

5

# comprehension and map and filter

In [27]:
x = (i+5 for i in a)
tuple(x)

(6, 2346, 14146, 242429, 12313149, 419, 6671, 667894)

In [31]:
print(tuple(map(lambda i: i ** 2, a)))

(1, 5480281, 199967881, 58769395776, 151613515164736, 171396, 44435556, 446075716321)

In [34]:
#  list to tuple
x = [1,2,3,4,5]
xt = tuple(x)
print(xt)

(1, 2, 3, 4, 5)

In [35]:
xl = list[xt]
print(xt, xl)

(1, 2, 3, 4, 5) list[1, 2, 3, 4, 5]